app-calculo/.idea/
app-financeiro/.idea/
app-calculo/app-calculo.iml
app-financeiro/app-financeiro.iml
app-calculo/.gitignore
app-financeiro/.gitignore
app-logging/.idea/
app-logging/.gitignore
app-logging/app-logging.iml
